{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<style>
    /* Inline CSS for styling the table */
    .amenity-table {
        width: 100%;
        border-collapse: collapse;
    }

    .amenity-table th, .amenity-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .amenity-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    }

    .amenity-table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .button-container {
        text-align: right;
        margin-bottom: 20px; /* Add some spacing between the button and the table */
    }

    .add-amenity-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .add-amenity-button:hover {
        background-color: #0056b3;
    }
</style>

{% if logged_in %}
<div class="button-container">
    <a href="{% url 'add_services' %}" class="add-amenity-button">Request Services</a>
</div>
{% endif %}

<h1>Services</h1>

<br>

<div class="table-container">
    <table class="amenity-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Room</th>
                <th>Descriptiom</th>
                <th>Status</th>
                {% if access_type == "Admin" %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service.service_id }}</td>
                <td>{{ service.service_type_name }}</td>
                <td>{{ service.room_reference }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.status }}</td>
                {% if access_type == "Admin" %}
                <td><button class="edit-button" data-service-id="{{ service.service_id }}">Edit</button></td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No Data available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".edit-button").click(function () {
            var serviceId = $(this).data("service-id");
            window.location.href = '/services/' + serviceId + '/edit/';
        });
    });
</script>
{% endblock %}