{% extends 'base.html' %}

{% block title %}Add Aminity Type{% endblock %}

{% block content %}
<style>
    /* Inline CSS for styling the form and elements */
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .view-all-container {
        text-align: right;
        margin-bottom: 20px;
    }

    .view-all-link {
        display: inline-block;
        text-decoration: none;
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .view-all-link:hover {
        background-color: #0056b3;
    }

    form {
        width: 50%;
        margin: 0 auto;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        float: right;
        margin-right: 10px;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<h1>Add Aminity Type</h1>
<div class="view-all-container">
    <a href="{% url 'room_settings' %}" class="view-all-link">View All</a>
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-field">
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
        {% if form.name.errors %}
            <ul class="errorlist">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <button type="submit">Save</button>
</form>

{% endblock %}
